
        
   <a href="/newestPosts"> <button class="btn btn-default" type="submit">More Recent Posts</button></a>

{{#each posts}}
<div class="post-preview">
    <a href="/post-{{this._id}}">
        <h2 class="post-title">
            {{this.title}}
        </h2>
        <h3 class="post-subtitle">
            {{this.summary}}
        </h3>
    </a>
</div>
{{/each}}